In [15]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.impute import KNNImputer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [5]:
df = pd.read_csv(r'D:\krish naik - udemy ML and Deep Learning\CampusX\Feature Engineering\titanic_train.csv',
                 usecols= ['Age','Pclass','Fare','Survived'])
df.sample(5)

     Survived  Pclass   Age      Fare
744         1       3  31.0    7.9250
591         1       1  52.0   78.2667
741         0       1  36.0   78.8500
156         1       3  16.0    7.7333
337         1       1  41.0  134.5000

In [7]:
df.isnull().mean()*100

Survived     0.00000
Pclass       0.00000
Age         19.86532
Fare         0.00000
dtype: float64

In [9]:
X = df.drop(columns=['Survived'])
y = df['Survived']

In [11]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [13]:
X_train.sample(5)

     Pclass   Age      Fare
432       2  42.0   26.0000
678       3  43.0   46.9000
334       1   NaN  133.6500
295       1   NaN   27.7208
387       2  36.0   13.0000

In [31]:
knn = KNNImputer(n_neighbors=5,weights='distance')
X_train_trf = knn.fit_transform(X_train)
X_test_trf = knn.transform(X_test)

In [33]:
X_train_trf

array([[  1.        ,  40.        ,  27.7208    ],
       [  3.        ,   4.        ,  16.7       ],
       [  3.        ,  47.        ,   9.        ],
       ...,
       [  1.        ,  71.        ,  49.5042    ],
       [  1.        ,  33.27958962, 221.7792    ],
       [  1.        ,  49.2759266 ,  25.925     ]])

In [35]:
pd.DataFrame(X_train_trf,columns=X_train.columns)

     Pclass        Age      Fare
0       1.0  40.000000   27.7208
1       3.0   4.000000   16.7000
2       3.0  47.000000    9.0000
3       3.0   9.000000   31.3875
4       3.0  20.000000    9.8458
..      ...        ...       ...
707     3.0  30.000000    8.6625
708     3.0  25.223022    8.7125
709     1.0  71.000000   49.5042
710     1.0  33.279590  221.7792
711     1.0  49.275927   25.9250

[712 rows x 3 columns]

In [37]:
lr = LogisticRegression()
lr.fit(X_train_trf,y_train)
y_pred = lr.predict(X_test_trf)
accuracy_score(y_test,y_pred)

0.7094972067039106

In [25]:
from sklearn.impute import SimpleImputer

In [27]:
# Comparison with Simple Imputer --> mean
si  = SimpleImputer()
X_train_si = si.fit_transform(X_train)
X_test_si = si.transform(X_test)

In [29]:
lr = LogisticRegression()
lr.fit(X_train_si,y_train)
y_pred = lr.predict(X_test_si)
accuracy_score(y_test,y_pred)

0.6927374301675978